* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-size: 20px;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600%;
}

.content .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p {
    color: #333;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    Letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox {
    width: 520px;
    display: flex;
    justify-content: flex-start;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img {
    max-width: 340px;
}

.images {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.images li {
    List-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.images li:hover {
    transform: translateY(-15px);
}

.images li img {
    max-width: 60px;
}

.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}

.about-content h2 span {
    color: #017143;
    font-size: 2em;
    font-weight: 900;
}

.menu .about-content img {
    max-width: 60px;
    gap: 20px;
}

.New {
    padding-bottom: 10rem;
}

.New h2 {
    margin-bottom: 4rem;
}

.New .New-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    left: 5.5%;
    right: 5.5%;
    gap: 5.5rem;
}

.New-container .New-box {
    position: relative;
    left: 3.5%;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
}

.New-box img {
    width: 100%;
    transition: .5s ease;
}

.New-box img:hover img {
    transform: scale(1.1);
}

.New-box .New-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.New-box:hover .New-layer {
    opacity: 1;
}

.New-layer h4 {
    font-size: 3rem;
    color: white;
}

.New-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    color: white;
}

.New-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: white;
    border-radius: 50%;
}

.New-layer a i {
    font-size: 2rem;
    color: #333;
}

.New h2 span {
    color: #017143;
    font-size: 2em;
    font-weight: 900;
}

@media (max-width:991px) {
    header {
        padding: 20px;
    }
    header .logo {
        max-width: 60px;
    }
    header ul {
        display: none;
    }
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(images/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }
    .toggle.active {
        position: fixed;
        right: 20px;
        background: url(images/close.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
    }
    header ul.navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        z-index: 10;
    }
    section {
        padding: 20px 20px 120px;
    }
    .content {
        flex-direction: column;
        margin-top: 100px;
    }
    .content .textBox h2 {
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    .content .textBox {
        max-width: 100%;
    }
    .content .imgBox {
        max-width: 100%;
        justify-content: center;
    }
    .content .imgBox img {
        max-width: 300px;
    }
    .images li img {
        max-width: 40px;
    }
    .circle {
        clip-path: circle(400px at center bottom);
    }
    .sci {
        background: #017143;
        right: 0;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}